
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(35, 39, 73);
  color: rgb(206, 201, 248);
  font-family: Arial, sans-serif;
  line-height: 1.6;
}


section {
  max-width: 1200px;
  margin: 20px auto; 
  padding: 20px;
  background-color: rgb(
    44,
    48,
    83
  ); 
  border-radius: 8px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}

.resume #summary {
  margin-top: 150px;
}

h2 {
  color: rgb(235, 231, 255);
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 2px solid rgb(70, 74, 122);
  padding-bottom: 10px;
}


.section {
  margin-bottom: 30px;
}

.section p,
.section ul {
  margin-bottom: 10px;
}


ul {
  list-style-type: disc;
  padding-left: 20px;
}


h3 {
  color: rgb(150, 146, 223);
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.date {
  color: rgb(180, 175, 220);
  font-size: 0.9rem;
  margin-bottom: 5px;
}

a {
  color: rgb(206, 201, 248);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: rgb(150, 146, 223);
}


@media (max-width: 768px) {
  section {
    padding: 15px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}
