* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-color: rgb(35, 39, 73);
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px auto;
}

/* Navigaton Bar */
.navbar {
  padding: 10px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.navbar .container .logo {
  display: block;
  padding-top: 10px;
  /* font-size: px; */
}

.navbar .container .logo a img {
  width: 100px;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
  color: rgb(206, 201, 248);
}

.navbar ul li a:hover {
  color: rgb(109, 41, 226);
}

.navbar ul li a i {
  margin-right: 10px;
}

.navbar ul li a:last-child {
  margin-left: 18px;
}

/* Introduction */
.intro .flex {
  display: flex;
  color: rgb(206, 201, 248);
  justify-content: space-between;
  margin-top: 100px;
}

.intro .flex .note {
  margin-right: 100px;
  display: block;
  margin-top: 15%;
}

.intro .flex .note h1 {
  display: flex;
  font-weight: bold;
  font-size: 3.5em;
}

.intro .flex .note h2 {
  font-weight: bold;
  font-size: 2.5em;
}
.intro .flex .note h1 .violet {
  color: rgb(109, 41, 226);
}

.intro .flex .note h3 {
  font-size: 0.9em;
  margin-bottom: 30px;
}
.intro .flex h1,
h2,
h3 {
  padding: 10px;
}

.intro .flex .mypic {
  margin-right: 0px;
}

.intro .flex .mypic img {
  border-radius: 100px;
  height: 550px;
  margin-right: 50px;
}

.intro .flex .note .btn {
  display: flex;
}

.intro .flex .note .btn .contact,
.about {
  color: rgb(206, 201, 248);
  background-color: transparent;
  font-size: 1em;
  border: groove 1px;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
}

.intro .flex .note .btn .contact {
  background-color: rgb(109, 41, 226);
  margin-right: 5px;
  margin-left: 10%;
}

.intro .flex .note .btn .contact:hover {
  background: transparent;
}

.intro .flex .note .btn .about:hover {
  background-color: rgb(109, 41, 226);
}
